discord.py[voice]
discoin
PyNaCl
aiopg
sqlalchemy
aiohttp
aiofiles
requests
youtube-dl
dblpy
ratelimiter
Pillow
nyaapy
psycopg2-binary
psutil
uvloop
jellyfish
git+git://github.com/AWConant/jikanpy.git
