# discord.py[voice] -- To be installed via the submodule folder.
PyNaCl
aiopg
sqlalchemy
aiohttp
requests
youtube-dl
dblpy
ratelimiter
Pillow
nyaapy
psycopg2-binary
psutil
git+git://github.com/AWConant/jikanpy.git
